<!-- footer section starts  -->

<section class="footer">

    <div class="box-container">

        <div class="box">
            <h3>quick links</h3>
            <a href="#"> <i class="fas fa-chevron-right"></i> home </a>
            <a href="#"> <i class="fas fa-chevron-right"></i> services </a>
            <a href="#"> <i class="fas fa-chevron-right"></i> about </a>

            <a href="#"> <i class="fas fa-chevron-right"></i> book </a>
            <a href="#"> <i class="fas fa-chevron-right"></i> review </a>

        </div>

        <div class="box">
            <h3>our facilities</h3>
            <a href="#"> <i class="fas fa-chevron-right"></i> Critical Care Nutrition </a>
            <a href="#"> <i class="fas fa-chevron-right"></i> Cancer Care Nutrition</a>
            <a href="#"> <i class="fas fa-chevron-right"></i>Gastroenterology Care Nutrition </a>
            <a href="#"> <i class="fas fa-chevron-right"></i>Cardiology Care Nutrition </a>
            <a href="#"> <i class="fas fa-chevron-right"></i>Burn Care Nutrition </a>
        </div>

        <div class="box">
            <h3>contact info</h3>
            <a href="#"> <i class="fas fa-phone"></i> +917086056327</a>
            <!-- <a href="#"> <i class="fas fa-phone"></i> 999999999</a> -->
            <a href="#"> <i class="fas fa-envelope"></i> shdasfds@gmail.com </a>
            <a href="#"> <i class="fas fa-map-marker-alt"></i>105,Summit business Bay </a>
            <a href="#"> <i class="fas fa-map-marker-alt"></i>Andheri East,Mumbai-400093</a>
        </div>

        <div class="box">
            <h3>follow us</h3>
            <a href="#"> <i class="fab fa-facebook-f"></i> facebook </a>
            <a href="#"> <i class="fab fa-twitter"></i> twitter </a>
            <a href="#"> <i class="fab fa-twitter"></i> twitter </a>
            <a href="#"> <i class="fab fa-instagram"></i> instagram </a>
            <a href="#"> <i class="fab fa-linkedin"></i> linkedin </a>

        </div>

    </div>



</section>


<!-- footer section ends -->


















<!-- custom js file link  -->
<script src="script.js"></script>
 <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

 <script>
     var swiper = new Swiper(".mySwiper", {
       effect: "coverflow",
       grabCursor: true,
       centeredSlides: true,
       slidesPerView: "auto",
       coverflowEffect: {
         rotate: 50,
         stretch: 0,
         depth: 100,
         modifier: 1,
         slideShadows: true,

       },
       pagination: {
         el: ".swiper-pagination",
       },
       autoplay: {
  delay: 1000,
  direction: 'horizontal',
},
     });

   </script>
   <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
   <script>
     AOS.init();
   </script>

</body>
</html>
