<%- include("partials/header"); -%>


<h1 class="heading">our <span>products</span> </h1>
<h1 class="heading"> <span>contact </span>us </h1>
<section class="home" id="home">
 <div>
     
  <div class="product_row">

      <div data-aos="fade-right" class="contact_column">
          <h2 >Communication Address</h2>
          <p><i class="fas fa-phone"></i> +917086056327</p> 
          
          <p>   <i class="fas fa-envelope"></i> s_singh200623@rediffmail.com</p> 
                    <p>           <i class="fas fa-map-marker-alt"></i>105,Summit business Bay </p> 
                    <p><i class="fas fa-map-marker-alt"></i>Andheri East,Mumbai-400093 </p>
        </div>
      
      <div  data-aos="fade-left" class="contact_column">
          <h2 >Registered Office</h2>
          <p><i class="fas fa-phone"></i> +917086056327</p> 
          
          <p>   <i class="fas fa-envelope"></i> s_singh200623@rediffmail.com</p> 
          <p>           <i class="fas fa-map-marker-alt"></i>Chetia Building, Borbari Chari Ali</p> 
          <p><i class="fas fa-map-marker-alt"></i>Hengrabari, Guwahati, Kamrup, </p> 
          <p><i class="fas fa-map-marker-alt"></i>Assam- 781036 </p> 
            
</div>
  </div>
</div>
</section>


<section>
    <section id="contact">
        <div class="contact-box">
          <div class="contact-links">
            <h2>Write Us</h2>
            <div class="links">
              <div class="link">
                <a><img src="images\linked.png" alt="linkedin"></a>
              </div>
              <div class="link">
                <a><img src="images\facebook.png" alt="facebook"></a>
              </div>
              <div class="link">
                <a><img src="images\intstagram.jpg" alt="instagram"></a>
              </div>
              <div class="link">
                <a><img src="images\email.png" alt="email"></a>
              </div>
            </div>
          </div>
          <div class="contact-form-wrapper">
            <form action="/" method="post">
              <div class="form-item">
                <input type="text" name="formName" required>
                <label>Name:</label>
              </div>
              <div class="form-item">
                <input type="text" name="number" required>
                <label>Phone Number :</label>
              </div>
              <div class="form-item">
                <input type="text" name="email" required>
                <label>Email:</label>
              </div>
             
              <button type="submit" class="submit-btn">Send</button>  
            </form>
          </div>
        </div>
      </section>
</section>


<%- include("partials/footer"); -%>