<%- include("partials/header"); -%>

<!-- home section starts  -->

<section class="home" id="home">

    <div class="image">
        <img src="images/home-img.svg" alt="">
    </div>

    <div class="content">
        <h3>THE PROMISE OF WORKING TOGETHER</h3>
       
        <p>Hearty welcome to our site. Your keenness to visit us indicates your curiosity about
Synergistic Biotech Pvt Ltd.
</p>
        <a href="/contact" class="btn"> contact us <span class="fas fa-chevron-right"></span> </a>
    </div>

</section>

<!-- home section ends -->

<!-- icons section starts  -->
<section class="icons-container">


    <div class="ico" >

        <h6 class="heading">Our <span>story:</span> </h6><h3>The promise of working together</h3>

        <p>Science can be a potent catalyst for change and transformation, this conviction in the power of science to improve
        Health outcomes and uplift communities.
        </p>
    </div>



</section>

<section class="about" id="about">

    <h1 class="heading"> <span>about</span> us </h1>

    <div class="row">

        <div class="image">
            <img src="images/about-img.svg" alt="">
        </div>

        <div class="content">
            <h3>we take care of your healthy life</h3>
            <p>Our success is a result of teamwork and Work are our primary objectives, and the team stands resolutely with the management to consistently exceed client expectations on both counts.
            </p>
            <p>We work on the motto of “The Promise of Working Together”. We are proud to share that we are successfully running our business in all over India . This is just because of the confidence that our customers put in us. We have a strong company culture whereby every team member works with utmost dedication, perseverance and sincerity. We try and implement new and innovative ideas in our work.</p>
            <a href="#" class="btn"> learn more <span class="fas fa-chevron-right"></span> </a>
        </div>

    </div>

</section>
<section class="icons-container">


    <div class="icons" >
        <!-- <i class="fas fa-user-md"></i> -->
        <h6> Vision </h6>

        <p>

          Creating Healthier communities & to become a trusted and leading Global contender in the field of Health Care
Nutrition.

        </p>
    </div>

    <div class="icons">

        <h6>Professionalism</h6>
        <p>With professionals at the core of the company, Professionalism has been valued most at Synergistic Biotech it goes without saying that performance, discipline, dedication and such features which are intrinsically linked to
Professionalism are equally respected with us.
</p>
    </div>

    <div class="icons">

        <h6>Core Values </h6>
        <p>                     We are guided by our core values of quality & patient focused, integrity, Innovation, team work & respect.

</p>
    </div>




</section>






<section class="doctors" id="doctors">

    <h1 class="heading"> our <span>products</span> </h1>

    <!-- Swiper -->
   <div class="swiper mySwiper">
     <div class="swiper-wrapper">
       <div class="swiper-slide">
         <img src="images\3d.jpg" />
       </div>
       <div class="swiper-slide">
         <img src="images\ROW Pro 3d 1.jpg" />
       </div>
       <div class="swiper-slide">
         <img src="images\ROW Pro 3d.jpg" />
       </div>
       <div class="swiper-slide">
         <img src="images\2-1.jpg" />
       </div>
       <div class="swiper-slide">
         <img src="images\ROW Pro hp 3d.jpg" />
       </div>
       <div class="swiper-slide">
         <img src="images\ROW Pro hp 3d1.jpg" />
       </div>

     </div>

     <a href="
     " class="btn"> Discover more <span class="fas fa-chevron-right"></span> </a>
   </div>

    

</section>
<section class="icons-container">


    <div class="ico" >

        <h6 class="heading">Our <span>Mission:</span> </h6>

        <p>To offer high –quality evidence based Medical Nutrition required by consumers which supports their recovery
And well being and is handily to endorse by the Health Care Professional.

        </p>
    </div>




</section>



<section class="book" id="book">

    <h1 class="heading"> <span>enquiry</span> now </h1>

    <div class="row">

        <div class="image">
            <img src="images/book-img.svg" alt="">
        </div>

        <form action="/" method="post">
            <h3>message us</h3>
            <input type="text" name="formName" placeholder="your name" class="box">
            <input type="number" name="number" placeholder="your number" class="box">
            <input type="email" name="email" placeholder="your email" class="box">
           
            <input type="submit" value="send now" class="btn">
        </form>

    </div>

</section>

<!-- booking section ends -->

<!-- review section starts  -->



<%- include("partials/footer"); -%>