<%- include("partials/header"); -%>
<h1 class="heading">our <span>products</span> </h1>
<h1 class="heading">our <span>products</span> </h1>
<section class="home" id="home">
 <div>
     <div style="text-align: center;" class="product_name">
         <h3>1. RAW PRO HP</h3>
     </div>
  <div class="product_row">

      <div class="product_column">
          <h2 data-aos="fade-right" class="heading">Features</h2>
          <ul>
              <li>100 % Whey Protein</li>
              <li>43% high quality whey Protein per 100 gm</li>
              <li>MCT based</li>
              <li>Rich in Fructo-Oligosaccharides (FOS) & Alpha Lipoic Acid</li>
              <li>5% Dietary Fibre</li>
              <li>Enriched with Vitamins & Minerals</li>
              <li>Sugar Free</li>
              <li>Banana Flavour</li>
              <li>Idle for Oral & Enteral feed</li>
              <li>400 gm powder </li>
          </ul>
      </div>
      <div data-aos="zoom-in" style="text-align: center;" class="product_column">
         <img class="product_img" src="images\2-1.jpg" alt="">
      </div>
      <div data-aos="fade-left" class="product_column">
          <h2  class="heading">Benefits</h2>
        <ul>
            <li>Whey Protein Promotes muscle growth, reduced inflammation and helps in treating type 2-Diabetics.</li>
       <li>5% MCT based provides instant energy</li>
       <li>FOS improve and maintain Gut function</li>
       <li>Alpha Lipoic Acid is a potent free radical scavenger and helps to detoxify Liver and assist other
        Anti-Oxidants during detoxification
</li>
<li>5 % Dietary fibre helps to prevent constipation, ensures delay of Glucose absorption</li>
</ul>     
</div>
  </div>
</div>
</section>
<section style="padding-bottom: 10rem;" class="home" id="home">
 <div>
     <div style="text-align: center;" class="product_name">
         <h3>2. RAW PRO CRITIPEP</h3>
     </div>
  <div class="product_row">
      <div data-aos="fade-right" class="product_column">
          <h2 class="heading">Features</h2>
          <ul>
              <li>100% WHEY PEPTIDE</li>
              <li>15% MCT ( Medium Chain Triglycerides) based </li>
          <li>Rich in Glutamine & Branched chain Amino Acids( BCCA)</li>
        <li>Rich in Omega 3 Fatty Acids</li> 
        <li>Enriched with Vitamins & Minerals</li>  
        <li>Sugar Free</li>
        <li>Elaichi Flavour</li>
        <li>Idle for Oral & Enteral feed</li>
        <li>400 gm powder</li>
        </ul>
      </div>
      <div style="text-align: center;" data-aos="zoom-in"  class="product_column">
         <img class="product_img" src="images\3d.jpg" alt="">
      </div>
      <div data-aos="fade-left" class="product_column">
          <h2  class="heading">Benefits</h2>
          <ul>
              <li>Raw Pro Critipep powder is semi elemental diet for the Nutritional management of Gastro - Intestinal Disorders and Critically ill Patients.</li>
          <li>Rich in L-Glutamine for better Immunity</li>
          <li>High in MCT, better Absorption and Instant Energy.</li>
          <li>Omega 3 Fatty Acids improve Endothelial function in Peripheral Vascular and Arterial Disease.</li>
        <li>Sugar free, safe for Diabetic Patients. </li>   
        </ul>
      </div>
  </div>
</div>
</section>

<%- include("partials/footer"); -%>