<%- include("partials/header"); -%>

<main>

<h1 class="heading">Our <span>Products</span></h1>

<section class="home" id="home">
 <div>
     <div style="text-align: center;" class="product_name">
         <h2>1. RAW PRO HP</h2>
     </div>
  <div class="product_row">

      <div class="product_column">
          <h3 data-aos="fade-right" class="heading">Features</h3>
          <ul>
              <li>100% Whey Protein</li>
              <li>43% high quality whey protein per 100 gm</li>
              <li>MCT based</li>
              <li>Rich in Fructo-Oligosaccharides (FOS) &amp; Alpha Lipoic Acid</li>
              <li>5% Dietary Fibre</li>
              <li>Enriched with Vitamins &amp; Minerals</li>
              <li>Sugar Free</li>
              <li>Banana Flavour</li>
              <li>Ideal for Oral &amp; Enteral feed</li>
              <li>400 gm powder</li>
          </ul>
      </div>
      <div data-aos="zoom-in" style="text-align: center;" class="product_column">
         <img class="product_img" src="/images/2-1.jpg" alt="RAW PRO HP - 100% Whey Protein Medical Nutrition, 400gm Banana Flavour">
      </div>
      <div data-aos="fade-left" class="product_column">
          <h3 class="heading">Benefits</h3>
        <ul>
            <li>Whey Protein promotes muscle growth, reduces inflammation and helps in treating type 2 diabetics.</li>
            <li>5% MCT based provides instant energy.</li>
            <li>FOS improves and maintains gut function.</li>
            <li>Alpha Lipoic Acid is a potent free radical scavenger and helps to detoxify liver and assist other anti-oxidants during detoxification.</li>
            <li>5% Dietary fibre helps to prevent constipation, ensures delay of glucose absorption.</li>
        </ul>
      </div>
  </div>
</div>
</section>

<section style="padding-bottom: 10rem;" class="home" id="raw-pro-critipep">
 <div>
     <div style="text-align: center;" class="product_name">
         <h2>2. RAW PRO CRITIPEP</h2>
     </div>
  <div class="product_row">
      <div data-aos="fade-right" class="product_column">
          <h3 class="heading">Features</h3>
          <ul>
              <li>100% Whey Peptide</li>
              <li>15% MCT (Medium Chain Triglycerides) based</li>
              <li>Rich in Glutamine &amp; Branched Chain Amino Acids (BCAA)</li>
              <li>Rich in Omega 3 Fatty Acids</li>
              <li>Enriched with Vitamins &amp; Minerals</li>
              <li>Sugar Free</li>
              <li>Elaichi Flavour</li>
              <li>Ideal for Oral &amp; Enteral feed</li>
              <li>400 gm powder</li>
          </ul>
      </div>
      <div style="text-align: center;" data-aos="zoom-in" class="product_column">
         <img class="product_img" src="/images/3d.jpg" alt="RAW PRO CRITIPEP - 100% Whey Peptide for Critical Care, 400gm Elaichi Flavour">
      </div>
      <div data-aos="fade-left" class="product_column">
          <h3 class="heading">Benefits</h3>
          <ul>
              <li>RAW PRO CRITIPEP powder is a semi-elemental diet for the nutritional management of gastrointestinal disorders and critically ill patients.</li>
              <li>Rich in L-Glutamine for better immunity.</li>
              <li>High in MCT for better absorption and instant energy.</li>
              <li>Omega 3 Fatty Acids improve endothelial function in peripheral vascular and arterial disease.</li>
              <li>Sugar free, safe for diabetic patients.</li>
          </ul>
      </div>
  </div>
</div>
</section>

</main>

<%- include("partials/footer"); -%>
